.socials {
    margin: 1rem 0 0 .5rem;
}

.socials i {
    margin-right: .75rem;
    font-size: 1.2rem;
    color: #fff;
}

.socials i:hover {
    color: #dcdcdc;
}

.consultancy-data .socials i {
    font-size: 1.25rem;
    color: var(--blue);
}

/* media queries */
@media (max-width: 800px) {
    .consultancy-data {
        padding: 0;
        width: 100%;
    }

    .consultancy-data-bottom {
        border: none;
    }
}