.consultancies-breadcrumb {
    margin: 1rem 0;
    position: sticky;
}

.consultancies-breadcrumb {
    margin: 1rem 0;
    position: sticky;
}

.consultancies-row {
    margin: 0 2rem 2rem;
    display: flex;
    gap: 1rem;
}

.consultancies-row-single {
    width: 100%;
}

.consultancies-left {
    width: 70%;
}

.consultancies-right {
    width: 20%;
    align-self: flex-start;
    position: sticky;
    top: 1rem;
}

.consultancies {
    padding: 0 1.3rem;
}

.consultancies-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}

.socials {
    margin: 1rem 0 0 .5rem;
}

.socials i {
    margin-right: .75rem;
    font-size: 1.2rem;
    color: #fff;
}

.socials i:hover {
    color: #dcdcdc;
}

.consultancy-data .socials i {
    font-size: 1.25rem;
    color: var(--blue);
}

/* media queries */
@media (max-width: 800px) {
    .consultancy-data {
        padding: 0;
        width: 100%;
    }

    .consultancy-data-bottom {
        border: none;
    }
}