:root{
    --green: #4cc04c;
    --blue: #2a73f4;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
button{
    outline: none;
    cursor: pointer;
}
a{
    text-decoration: none;
    color: #000;
}
li{
    list-style: none;
}

/* landing image */
.landing-img{
    height: 300px;
    width: 100vw;
    font-size: 2rem;
    text-align: center;
    background-color: #4e4c4c;
    background-image: url("/imgs/landing.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}
.landing-tagline{
    padding: 1rem;
    margin: auto;
    width: 325px;
    height: 100%;
    color: #fff;
    background-color: rgba(0,0,0,.5);
    border-radius: 3px;
    display: flex;
    align-items: center;
    transform: rotate(10deg);
}
.tagline-txt{
    transform: rotate(-10deg);
}
.landing-tagline span{
    font-size: 2.25rem;
    color: var(--blue);
}

/* top consultancies */
.top-consultancies, .test-guides, .study-abroad, .upcoming-classes, .faqs{
    padding: 3rem 2rem;
}
.sub-title{
    margin: 0 auto 2.5rem;
    width: max-content;
    font-size: 1.5rem;
    border-bottom: 2px solid var(--blue);
}
.top-consultancies-inner{
    display: flex;
    gap: 15px;
    border-radius: 3px;
    overflow: hidden;
}
.btn-div{
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.view-consultancies-btn, .view-countries-btn, .view-tests-btn, .view-classes-btn{
    padding: .5rem 1rem;
    background-color: var(--blue);
    border: none;
    border-radius: 3px;
}
.view-consultancies-btn a, .view-countries-btn a, .view-tests-btn a, .view-classes-btn a{
    font-size: 1.1rem;
    color: #fff;
}

/* study abroad */
.study-abroad, .upcoming-classes{
    background-color: #dcdcdc;
}
.top-consultancies-inner, .study-abroad-inner, .test-guides-inner, .upcoming-classes-inner{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}

/* test-guides */

/* upcoming classes */

/* faqs */
.faqs-inner{
    margin: auto;
    width: 1150px;
    display: flex;
}
.questions{
    width: 50%;
    padding-right: 1rem;
}
.question{
    padding: .5rem 1rem;
    border: 2px solid #797979;
    border-radius: 3px;
    transition: .3s;
    cursor: pointer;
}
.question:hover, .aq{
    color: #fff;
    background-color: #000;
    border-color: #000;
}
.faqs i{
    margin-right: .5rem;
    color: var(--blue);
}
.question:nth-of-type(2), .question:nth-of-type(3){
    margin: .75rem 0;
}
.answer{
    width: 50%;
    padding: 1rem;
    text-align: justify;
    background-color: #dcdcdc;
    border: 2px solid var(--blue);
    border-radius: 3px;
}

/* class image modal */
.class-img-modal{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,.8);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
}
.class-img-modal i{
    color: #fff;
    font-size: 1.5rem;
    position: absolute;
    right: 7rem;
    top: 3rem;
    cursor: pointer;
}
.class-img-modal img{
    width: 60%;
    max-height: 70%;
    object-fit: contain;
}

/* media queries */
@media (max-width: 1200px){
    .faqs-inner{
        width: 1000px;
    }
}
@media (max-width: 1050px){
    .faqs-inner{
        width: 850px;
    }
}
@media (max-width: 900px){
    .landing-tagline{
        margin: 0 10rem;
    }
    .faqs-inner{
        width: 700px;
    }
    .questions{
        width: 40%;
    }
    .question{
        padding: .5rem;
    }
    .answer{
        width: 60%;
    }
}
@media (max-width: 750px){
    .faqs-inner{
        width: 100%;
        flex-direction: column-reverse;
    }
    .questions, .answer{
        width: 100%;
    }
    .questions{
        padding: 1rem 0 0;
    }
}
@media (max-width: 700px){
    .landing-img{
        font-size: 1.5rem;
    }
    .landing-tagline{
        margin: 0 5rem;
        width: 275px
    }
    .landing-tagline span{
        font-size: 1.75rem;
    }
}
@media (max-width: 500px){
    .landing-tagline{
        margin: 0 2rem;
        width: 250px;
    }
}
@media (max-width: 425px){
    .top-consultancies, .test-guides, .study-abroad, .upcoming-classes, .faqs{
        padding: 3rem 1rem;
    }
}
@media (max-width: 375px){
    .top-consultancies, .test-guides, .study-abroad, .upcoming-classes, .faqs{
        padding: 3rem .5rem;
    }
}
