.test-container{
    margin: 2rem auto;
    padding: 0 1rem;
    width: 800px;
    border-left: 2px solid #dcdcdc;
    border-right: 2px solid #dcdcdc;
    text-align: justify;
}
.test-container img{
    margin: 2rem 0;
    width: 100%;
}
.test-container h2{
    margin: 2rem 0 .5rem;
}
.test-container p{
    margin: .25rem 0;
}
.bold{
    font-size: 1.1rem;
    font-style: italic;
    font-weight: bolder;
}

/* media queries */
@media (max-width: 800px){
    .test-container{
        width: 100%;
        border: none;
    }
}